.editor {
  width: 640px;
  background-color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: left ;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}